<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/fondo_login.jpg);">       
        <div class="login-box card" style="box-shadow: -5px 4px 44px 2px rgba(0,0,0,0.75);">
        
        <div class="card-body">
        <div style='float:right;'>
        </div>    
        <form class="form-horizontal form-material" id="loginform" action="">
            
            <h3 class="box-title mb-3">Inicio de Sesi&oacute;n</h3>
            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control" type="text" required="" placeholder="Cedula" name="cedula" id="cedula"/> </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" type="password" required="" placeholder="Contrase&ntilde;a" name="clave" id="clave"/> </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox checkbox-primary float-left pt-0">
                        
                    </div> 
                    <!--a href="javascript:void(0)" id="to-recover" class="text-dark float-right"><i class="fa fa-lock mr-1"></i> Recuperar Contrase&ntilde;a</a>--> 
                </div>
            </div>
            <div class="form-group text-center mt-3">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" id="btnSubmit" >Ingresar</button>
                    <br />
                    <!--<center>
                        <img src="images/load.gif" style="display: none;width:60px; position: absolute;text-align: center;" id="img-load"/>
                    </center>-->
                    

                </div>
                
                
            </div>
           
           
        </form>
