<aside class="left-sidebar" >
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
   
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
       
        <nav class="sidebar-nav">
            <ul class="metismenu" id="sidebarnav" metis-menu >
          
            <li>
                    <a class="" routerLink="/" aria-expanded="false"  ><i class="mdi mdi-home"></i><span class="hide-menu">Inicio</span></a>
            </li>
           
            <li>
              
                    <a class="has-arrow" href="#" aria-expanded="false" routerLinkActive="active"><i class="mdi mdi-gauge"></i><span class="">Metas </span></a>
                    <ul >
                          <li><a routerLink="/metas/general" routerLinkActive="active" >General</a></li>
                          <li><a routerLink="/metas/centro-costo" routerLinkActive="active">Centro de Costo</a></li>
                        <li><a routerLink="/metas/vendedor" routerLinkActive="active" >Vendedor</a></li>
                        <!--<li><a href="<?php echo URL_SITE?>listado-metas-vendedor.php" onclick="bloquearPantalla();">ListarMetasVendedor</a></li>-->
                        
                      
                    </ul>
            </li>
              <li>
                    <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Reportes   </span></a>
                    <ul>
                         <li><a href="<?php echo URL_SITE?>reporte-general.php" onclick="bloquearPantalla();">General</a></li>
                        <li><a href="<?php echo URL_SITE?>reporte-zonas.php" onclick="bloquearPantalla();">Zonas</a></li>
                        <li><a href="<?php echo URL_SITE?>reporte-centro-costo.php" onclick="bloquearPantalla();">Centro de Costo</a></li>
                        <!--<li><a href="<?php echo URL_SITE?>reporte-pdv.php" onclick="bloquearPantalla();">Puntos de Venta</a></li>-->
                        <li><a href="<?php echo URL_SITE?>reporte-vendedor.php" onclick="bloquearPantalla();">Vendedor</a></li>
                       <li><a href="<?php echo URL_SITE?>top-ventas.php" onclick="bloquearPantalla();">Top Vendedor</a></li>
                         <li><a href="<?php echo URL_SITE?>top-ventas-pdv.php" onclick="bloquearPantalla();">Top PDV</a></li>
                        <li><a href="<?php echo URL_SITE?>reportes-sdi-mercadeo2.php" onclick="bloquearPantalla();">SDI 7-7A</a></li>
                    </ul>
            </li>
             <li>
                       
                  
                         <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-account "></i><span class="hide-menu">Visitas </span></a>
                         <ul>
                         <li><a href="<?php echo URL_SITE?>visitas-supervisores.php" onclick="bloquearPantalla();">Supervisores</a></li>
                    
                        <li><a href="<?php echo URL_SITE?>listar-visitas.php" onclick="bloquearPantalla();">Listar </a></li>

                        <li><a href="<?php echo URL_SITE?>reporte-visitas.php" onclick="bloquearPantalla();">Reporte</a></li>
                    </ul>
            </li>
             
            <li>
                    <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Centros de Costo </span></a>
                   <ul >
                        <!--<li><a href="#">Registrar </a></li>-->
                        <!--<li><a href="#">Listar </a></li>-->
                        <li><a href="<?php echo URL_SITE?>asignar-pdv.php" onclick="bloquearPantalla();">Asignar PDV </a></li>
                        <li><a href="<?php echo URL_SITE?>listar-pdv.php" onclick="bloquearPantalla();">Listar PDV </a></li>
                        <li><a href="<?php echo URL_SITE?>asignar-supervisor-cc.php" onclick="bloquearPantalla();">Asignar Supervisor </a></li>
                        
                    </ul>
            </li>
            
            
            

                        
            
              
            
            <li>
                    <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-flask"></i><span class="hide-menu">Productos </span></a>
                   <ul >
                       <!--<li><a href="<?php echo URL_SITE?>registrar-producto.php" onclick="bloquearPantalla();">Registrar </a></li>-->
                       <li><a href="<?php echo URL_SITE?>listar-productos.php" onclick="bloquearPantalla();">Listar </a></li>
                    </ul>
            </li>
         
             <li>
                    <a class="has-arrow" href="cargar-ventas.php" aria-expanded="false" onclick="bloquearPantalla();"><i class="mdi mdi-sale"></i><span class="hide-menu">Sincronizar </span></a>
                   
            </li>
          
            
            
            <!--<li><a href="mis-metas-vendedor.php" target="_blank">Rol Vendedor</a></li>-->
          
           
           <!-----Vista Vendedor ----> 
            <!--<li class="nav-devider"></li>
           
                
            <li>
                    <a  href="<?php echo URL_SITE?>mis-metas-vendedor.php" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu"> Meta Actual</span></a>
                  
            </li>
            
             <li>
                    <a href="#" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Historial Metas </span></a>
                  
            </li>-->
            
            
               
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
 
    <!-- End Bottom points-->
</aside>
