

                       
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="text-align:center;">Registro del Incremento de porcentaje de Meta General del A&ntilde;o  <b> {{ultimoAnioMeta}}</b> Mes de <b>{{ultimoMesMeta | numeroMes}}</b></h4>
            
            <!--<button id="cargarData" type="button" class="btn btn-info">Cargar Data</button>
            <div id="infoAjax">
            
            </div>-->
           
            <form #miFormulario="ngForm"
                  autocomplete="off"
                  (ngSubmit)="guardarMetaGeneral(miFormulario)">
                
               <table class="table table-bordered table-hover" style="width: 100%;">
                      
                      
                        <tr *ngFor="let productos of listadoProductos.productos;let i = index">
                                <td><label for="mes">Producto#{{(i+1)}}</label></td>
                                <td>
                                    <!--<select class="form-control selectpicker agrupacion"  style="width:auto;" name="producto[]" >
                                        <option value="{{productos.descripcion}}">{{productos.descripcion}}</option>
                                     </select>-->
                                     {{productos.descripcion}}
                                </td>
                                <td >
                                    <!--<input type="text" onkeyup="ValidNumberInput(this);" onchange="ValidNumberInput(this);" name="porcentaje[]" class="form-control" style="width:200px;" placeholder="valor % Incremento" required=""/>-->
                                    <input type="text" 
                                           ngModel
                                           name="{{productos.codigo}}"
                                           class="form-control {{classValid}}" 
                                           style="width:200px;" 
                                           placeholder="valor % Incremento" 
                                           required/>
                                </td>
                              
                       
                           </tr>

                           
                           
                   
              </table>
                   <!--<center><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" type="submit">Registrar</button></center>-->
                   <button class="btn btn-primary" type="submit" >Registrar</button>     
            </form>
             
             <!--<center><button class="btn btn-primary"  type="button" id="btnEnviarForm">Registrar</button></center>-->
             
              
                <select name="filtroAnio" class="selectpicker" data-style="btn-success" data-live-search="true" id="filtroAnio">
                    
                    <option value=""></option>
                     
                </select>
                
            <br />
            <button (click) ="exportToExcel()">excel</button>
            <br>
            <br>
           <!--- <button class="btn btn-primary" (click) ="listarData()">Listar</button>-->


           <select  
                   class="form-control" 
                  (change)="filtroAnio($event)"
                  [disabled]="load"
                  style="width: 10%;">
             
              <option value="2022">2022</option>
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019">2019</option>
               
          </select>
          <br><br>

            <div class="spinner" *ngIf="load" style="position:absolute; "> <img src="../assets/images/load.gif" width="70px"> </div>
            
            <div *ngIf="listadoMetasGeneral">
            <table class="table table-bordered table-hover DataTableListado" id="listado" datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead class="table-dark">
                <tr>
                  <th scope="col">A&ntilde;o</th>
                  <th scope="col">Mes</th>
                  <th scope="col">Producto</th>
                  <th scope="col">% Incremento</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let listado of listadoMetasGeneral.meta_general">
                 
                  <td>{{ listado.anio }}</td>
                  <td>{{ listado.mes | numeroMes }}</td>
                  <td>{{ listado.producto }}</td>
                  <td>{{ listado.porcentaje | number }} % </td>
                 
                 
                </tr>

               
                
                   
              </tbody>
            </table>
          </div>
        </div>
    </div>

    
    


